@import url(http://fonts.googleapis.com/css?family=Roboto:400);

body {
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	font: normal 14px Roboto, arial, sans-serif;
}

.form-login {
	background-color: #EDEDED;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 15px;
	border-color: #d2d2d2;
	border-width: 5px;
	box-shadow: 0 1px 0 #cfcfcf;
	margin-top: 5%;
}

.form-login h4 {
	border: 0 solid #fff;
	border-bottom-width: 1px;
	padding-bottom: 10px;
	text-align: center;
}

.form-login.form-control {
	border-radius: 10px;
}

.form-login.wrapper {
	text-align: center;
}

.form-login h6 {
	color: red;
}

#product-list {
	background-color: #D3D3D3;
}

.item {
	height: 250px;
	width: 200px;
	border: 5px solid maroon;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
	float: left;
}

.item img {
	height: 150px;
	width: 180px;
	float: left;
	background: url(../image/shirt.jpg) no-repeat scroll 0 0;
}

.name {
	font-size: 12px;
	font-weight: bold;
	color: #212121;
}

.price {
	font-size: 15px;
	font-style: italic;
	color: #424242;
}

.description {
	font-size: 12px;
	font-style: normal;
	color: #9E9E9E;
}
